<form action="/addClass" method="post">
        <label for="monhoc">Môn học:</label>
        <input type="text" name="monhoc"><br>

        <label for="maLop">Mã lớp:</label>
        <input type="number" name="nhom"><br>

        <label for="phonghoc">Phòng học:</label>
        <input type="text" name="phonghoc"><br>

        <label for="giangvien">Giảng viên:</label>
        <input type="text" name="giangvien"><br>

        <label for="start">Giờ bắt đầu:</label>
        <input type="datetime-local" name="start"><br>

        <label for="end">Giờ kết thúc:</label>
        <input type="datetime-local" name="end"><br>

        <input type="submit" value="Tạo">
    </form>