<h2>Thêm thông tin sinh viên</h2>
<form action="/addSinhVien/{{id}}" method="post">
    <label for="ma-sv">Mã sinh viên:</label>
    <input type="text" id="ma-sv" name="id" required><br><br>

    <label for="ten-sv">Tên sinh viên:</label>
    <input type="text" id="ten-sv" name="name" required><br><br>

    <input type="submit" value="Lấy hình ảnh">
</form>